<section>
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l4" *ngFor="let title of titles">
                <div class="list-item">
                    <div class="image-item">
                    </div>
                    <div class="text-item">
                        <span class="title truncate">{{ title }}</span>
                        <p>{{ text }}</p>
                        <div class="separator"></div>
                        <div class="row">
                            <div class="col s6"></div>
                            <div class="col s6 likes"><i class="material-icons">&#xE87D;</i><span>{{ likes }}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- 



                    
-->